*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

nav{
    text-decoration: none;
    border: 1px solid black;
    padding: 2%;
    background-color:rgba(6, 66, 156, 0.76);
}

nav p{
    display: inline-block;
    font-size: 70%;
    margin: 1%;
    color: whitesmoke;
}

nav p a{
    color: whitesmoke;
}

nav a:hover{
    color: rgba(20, 16, 1, 0.87);
    position: relative;
    bottom: 5px;
}

.filler{
    background-color: rgba(217, 220, 235, 0.377);
    width: 100%;
    height: 1px;
    
}

main{
    background-color: rgba(217, 220, 235, 0.377);
}

.introduction{
    text-align: center;
    align-items: center;
    background-color: rgba(48, 132, 201, 0.274);
    padding: 5%;
    opacity: 0.75;
    margin: 5%;
}

.introduction h1{
    color: rgba(6, 66, 156, 0.76);
}

.introduction p{
    color: black;
}

.questions{
    color: black;
    opacity: 0.75;
    align-items: center;
    text-align: center;
}

.questions h5{
    margin: 3% ;
    text-align: left;
    
}

.questions h6{
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    margin: 3%;

}

.options{
    margin: 0px auto;
    text-align: center;
    align-items: center;
}

.options p{
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 75%;
    margin: 5%;
    padding: 2%;
    position: relative;
    bottom: 15px;
    
}

p.agree:hover{
    background-color: green;
    opacity: 0.75;
}
p.neutral:hover{
    background-color: yellow;
    opacity: 0.75;
}
p.disagree:hover{
    background-color: red;
    opacity: 0.75;
}



